* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.349);
    min-height: 100vh;
}

.square {
    border: 1px solid black;
}

.flex-grid {
    margin: 50px auto;
    background-color: white;
    display:grid;
    width:fit-content; /*my grid container should include the exact number of columns and have the according width*/
    grid-template-columns: repeat(16, 1fr);
    /* move this to my js code? */
}

.btn {
    font-size: 20px;
    padding:10px;
    display:block;  /*button is an inline element by default*/
    margin:0 auto;
}

/* @media (max-width: 400px) {
    .flex-grid {
        display: block;
    }
} */